@page "/categories/create"
@page "/categories/edit/{CategoryId:guid}"
@inherits CreateEditModel
@using Project.App.Components
@using Project.Domain.Models

<PageHeader Icon="fas fa-bars">
    <Title>
        @if (!IsEdit)
        {
            <span>Nova Categoria</span>
        }
        else
        {
            <span>Editar Categoria</span>
        }
    </Title>
    <Actions>
        @if (IsEdit)
        {
            <Button Text="Excluir" Color="red" Icon="times" OnClick="OnRemove" />
        }
    </Actions>
</PageHeader>

<EditForm Model="CategoryObj" OnSubmit="OnSave">

    <SectionBox HasRow="true">
        <DataAnnotationsValidator />

        <FieldText T="Category" Label="@nameof(Category.Name)" @bind-Value="@CategoryObj.Name" />

        <ValidationMessage For="(() => CategoryObj.Name)" />
    </SectionBox>

    <SectionBox HasBox="false">
        <Button Text="Salvar" Color="green" Icon="check" CssClass="mr-1" Type="submit" />
        <Button Text="Cancelar" Color="red" Outline="true" Url="/categories" />
    </SectionBox>

</EditForm>