@*
    Title Page
*@

<h1>
    <i class="@Icon highlight mr-2" />

    @ChildContent
</h1>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Font Awesome class
    /// </summary>
    [Parameter] public string Icon { get; set; } = "fas fa-hashtag";

}