@page "/"
@using Project.App.Components

<TitlePage>ASPNET_Core_DDD_4</TitlePage>

<SectionBox Col="12">

    <p>
        <strong>Descrição: </strong> Aplicação em ASP.Net Core 3.1. Arquitetura em quatro camadas (application/domain/service/infrastructure) baseada nos princípios DDD.
    </p>

    <p class="mb-0">
        Veja mais em: <a href="https://github.com/amandasdn/ASPNET_Core_DDD_4/" target="_blank">Github.com/<strong>amandasdn</strong> <i class="fas fa-external-link-alt pl-1" /></a>
    </p>

</SectionBox>